html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #000;
  font-family: Orbitron, 'Courier New', Courier, monospace;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, #1110, rgba(0, 255, 255, 0.34));
}

.btn {
  padding: 8px 32px;
  border-radius: 4px;
  appearance: none;
  background: #000;
  color: #fff;
  font-family: Orbitron, 'Courier New', Courier, monospace;
  font-size: 2rem;
  border: 0;
  letter-spacing: 4px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
  cursor: pointer;
  margin: 16px;
}

.choose-screen {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.door-chooser {
  position: relative;
  width: 65vw;
  height: 65vw;
}

.border-hor {
  box-sizing: border-box;
  height: 100%;
  background: rgba(0,0,0,0.2);
  border: 3px solid #00ffff;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
  flex: 1;
}

.border-ver {
  box-sizing: border-box;
  width: 100%;
  background: rgba(0,0,0,0.2);
  border: 3px solid #00ffff;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
  flex: 1;
}

:root {
  --btn-size: 20%;
}

.border-top-container {
  width: 100%;
  height: var(--btn-size);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  display: flex;
}

.border-left-container {
  width: var(--btn-size);
  height: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) translateX(-100%);
  display: flex;
  flex-direction: column;
}

.border-right-container {
  width: var(--btn-size);
  height: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) translateX(100%);
  display: flex;
  flex-direction: column;
}

.border-bottom-container {
  width: 100%;
  height: var(--btn-size);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  display: flex;
}

.selected {
  background: rgba(255, 255, 255, 0.75);
}

.teamText{
  font-size: 50px;
  text-align: center;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.hidden{
  display: none;
}

.waiting-screen {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 100vw;
  height: 100vh;
  z-index: 9;
  background: rgba(66, 95, 95, 0.9);

  display: flex;
  align-items: center;
  justify-content: center;

  visibility: hidden;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.btn-blank {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 48px;
  font-weight: 700;
  text-shadow:
    1px 0 0 #0ff,
    -1px 0 0 #0ff,
    0 1px 0 #0ff,
    0 -1px 0 #0ff,
    0 0 10px rgba(0, 255, 255, 0.9);
}

.join-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.join-container.hidden {
  display: none;
}
